.main {
    position: relative;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__found {
        margin: 20px 0 0px 0;
        font-size: 20px;
    }

    &__books-items {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        min-height: 400px;
    }

    &__btn-load {
        margin: 20px 0 20px 0;
    }

}